<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Crear Empresa</p>
        </div>
        <div class="card-body text-info">
          <form action="
                " method="post">
            <div class="form-row">
              <div class="form-group col">
                <label for="inputnombre">Ingresar nombre</label>
                <input type="text" class="form-control" id="inputnombre" name="nombre"
                       placeholder="nombre">
              </div>
              <div class="form-group col/">
                <label for="inputtelefono">Ingresar Numero de telefono</label>
                <input type="text" class="form-control" id="inputtelefono" name="telefono"
                       placeholder="Numero de telefono">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputdireccion">Ingresar Direccion</label>
              <input type="text" class="form-control" id="inputdireccion" name="direccion"
                     placeholder="Direccion">
            </div>
            <div class="form-group col">
                <label for="inputlogo">Ingresar Logo </label>
            <input type="text" class="form-control" id="inputlogo" name="logo"
                   placeholder="Logo">

        </div>
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block">Agregar</button>
      </form>
    </div>
  </div>
</div>


<div class="col-md-7">
  <div class="card border-info ">
    <div class="card-header">
      <p class="text-info text-center h1">Listar Empresa</p>
    </div>
    <div class="card-body text-info">
<!--      <table class="table table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>#</th>-->
<!--          <th>Nombre</th>-->
<!--          <th>Telefono</th>-->
<!--          <th>Direccion</th>-->
<!--          <th>Logo</th>-->
<!--          <th>Acciones</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--          <td></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Mark</td>-->
<!--          <td>Otto</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Jacob</td>-->
<!--          <td>Thornton</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
      <div class="col-md-6 mx-auto">
        <div class="md-form">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                 mdbInput>
          <label for="search-input">Search</label>
        </div>
      </div>
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.first}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.last}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.handle}}</td>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

</div>

</div>
