<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Crear Usuario</p>
        </div>
        <div class="card-body text-info">
          <form action="
                " method="post">
            <div class="form-row">
              <div class="form-group col-md-3 col-sm-6">
                <label for="inputPrimerNombre">Ingresar primer nombre</label>
                <input type="text" class="form-control" id="inputPrimerNombre" name="primerNombre"
                       placeholder="primer Nombre">
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <label for="inputSegundoNombre">Ingresar segundo nombre </label>
                <input type="text" class="form-control" id="inputSegundoNombre" name="segundoNombre"
                       placeholder="segundo Nombre">
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <label for="inputApellidoPaterno">Ingresar apellido Paterno</label>
                <input type="text" class="form-control" id="inputApellidoPaterno" name="apellidoPaterno"
                       placeholder="apellido Paterno">
              </div>
              <div class="form-group col-md-3 col-sm-6">
                <label for="inputApellidoMaterno">Ingresar apellido Materno </label>
                <input type="text" class="form-control" id="inputApellidoMaterno" name="apellidoMaterno"
                       placeholder="apellido Materno">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputusuario">Ingresar Usuario</label>
                <input type="text" class="form-control" id="inputusuario" name="usuario"
                       placeholder="Usuario">
              </div>
              <div class="form-group col">
                <label for="inputcontrasenia">Ingresar contraseña </label>
                <input type="text" class="form-control" id="inputcontrasenia" name="contrasenia"
                       placeholder="Contraseña">

              </div>
            </div>
            <button type="button" class="btn btn-success btn-lg btn-block">Agregar</button>
          </form>
        </div>
      </div>
    </div>


    <div class="col-md-7">
      <div class="card border-info ">
        <div class="card-header">
          <p class="text-info text-center h1">Listar Usuario</p>
        </div>
        <div class="card-body text-info">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre completo</th>
              <th>usuario</th>
              <th>contrasenia</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>

