<!--<div class="row">-->
<!--  <div class="col-md-12  img1 text-center">-->
<!--    <div  style="margin-top: 500px">-->
<!--      <h1 class="text-white ">Bienvenidos a mi pagina</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<H1>FFF</H1>-->
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1 class="display-4">Bienvenido Admin</h1>
  <p class="lead">Sistema de venta de hornos.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a mdbBtn color="primary" size="lg" href="#" role="button" mdbWavesEffect>Learn more</a>
</div>
<!-- Jumbotron -->

